@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100%;
  margin: 0;
  background: rgb(0, 212, 219);
  background: linear-gradient(
    0deg,
    rgba(0, 212, 219, 0.41082370448179273) 0%,
    rgba(235, 255, 253, 1) 100%
  );
}

#root,
#__next {
  min-height: 100%;
}

body {
  background-color: #cdfffd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
