@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b3b73;
}

#root,
#__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #2b3b73;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
