@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100%;
  margin: 0;
  background: rgb(40, 71, 68);
  /* background: linear-gradient(
    0deg,
    rgba(18, 108, 120, 1) 0%,
    rgba(235, 255, 253, 1) 100%
  ); */
}

#root,
#__next {
  min-height: 100%;
}

body {
  background-color: #bdc1c1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
